@font-face {
    font-family: myFont;
    src: url(../Content/Fonts/MostlyMono.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(../Content/Fonts/teen1.ttf);
}

@font-face {
    font-family: myFont4;
    src: url(../Content/Fonts/teen2.ttf);
}

body{
	height: 100%;
    overflow: auto;
}

#coverpage_title{
	padding-top: 20px;
	text-align: center;
	font-size: 55px;
	font-family: myFont3;
	font-weight: lighter;
}

#coverpage_images{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    white-space:nowrap;
}

#coverpage{
	margin-left: auto;
    margin-right: auto;
    width: 6em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#coverpage_image1, #coverpage_image2, #coverpage_image3, #coverpage_image_secondset1, #coverpage_image_secondset2, #coverpage_image_secondset3, #coverpage_image_thirdset1, #coverpage_image_thirdset2, #coverpage_image_thirdset3 {
    margin-right: 15px;
    -webkit-border-image: url(photo1.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(photo1.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(photo1.jpg) 30 round;
    /*display:none;*/
}

ul#navigation {
 	bottom: 0;
 	width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;  
    text-align: center;
    font-size: 22px;
}

ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 30px;
    font:bold 14px/30px Georgia, serif;
    text-decoration: none;
}

ul#navigation li a{
	text-decoration: none;
	color: black;
}

.MenuContainer {
    height: 70px;
    bottom:0;
}

.MenuContainer_books {
    height: 70px;
}

ul#navigation_books {
 	width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;  
    text-align: center;
    font-size: 22px;
}

ul#navigation_books li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 30px;
    font:bold 14px/30px Georgia, serif;
    text-decoration: none;
}

ul#navigation_books li a{
	text-decoration: none;
	color: black;
}

#SideContainer_books {
    float: left;	
    text-align: right;
    margin-right: 8%;                           /*changed this to a percentage*/
    margin-left: 15%;
}

ul#SideContainer_navigation_books {
    list-style: none;
    padding-bottom: 70px;
    font-size: 22px;
}

ul#SideContainer_navigation_books li {
    list-style: none;											
    font:bold 14px/30px Georgia, serif;
    margin: 25px 0;																/*This is where we are spacing the list elements*/									
    text-decoration: none;
}

ul#SideContainer_navigation_books li a{
	text-decoration: none;
	color: black;
							/*This is where we are adjusting how far the sidebar goes into the page*/
}

.MenuContainer_cards {
    height: 70px;
}

ul#navigation_cards {
	width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;  
    text-align: center;
    font-size: 22px;
}

ul#navigation_cards li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 30px;
    font:bold 14px/30px Georgia, serif;
    text-decoration: none;
}

ul#navigation_cards li a{
	text-decoration: none;
	color: black;
}

#SideContainer_cards {
    float: left;    
    text-align: right;
}

ul#SideContainer_navigation_cards {
    list-style: none;
    padding-bottom: 70px;
    font-size: 22px;
}

ul#SideContainer_navigation_cards li {
    list-style: none;                                            
    font:bold 14px/30px Georgia, serif;
    margin: 25px 0;                                                             /*This is where we are spacing the list elements*/                                  
    text-decoration: none;
}

ul#SideContainer_navigation_cards li a{
	text-decoration: none;
    color: black;
    padding: 0px 0 0px 250px;                           /*This is where we are adjusting how far the sidebar goes into the page*/
}

.MenuContainer_commercial {
    height: 70px;
}

ul#navigation_commercial {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;  
    text-align: center;
    font-size: 22px;
}

ul#navigation_commercial li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 30px;
    font:bold 14px/30px Georgia, serif;
    text-decoration: none;
}

ul#navigation_commercial li a{
    text-decoration: none;
    color: black;
}

#SideContainer_commercial {
    float: left;    
    text-align: right;
}

ul#SideContainer_navigation_commercial {
    list-style: none;
    padding-bottom: 70px;
    font-size: 22px;
}

ul#SideContainer_navigation_commercial li {
    list-style: none;                                           
    font:bold 14px/30px Georgia, serif;
    margin: 25px 0;                                                             /*This is where we are spacing the list elements*/                                  
    text-decoration: none;
}

ul#SideContainer_navigation_commercial li a{
    text-decoration: none;
    color: black;
    padding: 0px 0 0px 250px;                           /*This is where we are adjusting how far the sidebar goes into the page*/
}

#Caterpillars_In_Love, #Topsy_Turvy, #Good_Wish, #The_Road_to_Babcias_House, #Peaceful_Activist, #Aroundtheseasons{
    border: 1px solid;
    margin-right: 17px;   
    margin-left: 17px;                                                                                                  /*can change to margin right and left each 17px*/
    border-color: black;
    margin-top: 10px;
    margin-bottom: 24px;
    -webkit-border-image: url(photo1.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(photo1.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(photo1.jpg) 30 round;
}

#illustrator{
    font-size: 16px;
    color: gray;
}

#grid{
    margin: 0 auto;
    display: inline-block;
    width: 40%;
}

/*#grid{
    margin: 0 auto;
    display: inline-block;
    width: 58%;
}

.caption {
    display: block;
    width: 130px;  
    margin-left: 17px;
    
}*/